  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{ $water := "css/water.css" | absURL }}
    {{ $css := "css/style.css" | absURL }}


    <link rel="stylesheet" href="{{$water}}" />
    <link rel="stylesheet" href="{{$css}}" />


    {{ partial "meta" . }}
    {{ if .IsHome }}{{ $title := .Site.Title }}{{ end }}
    <title>{{ .Title }}</title>
  </head>
