<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ $water := "css/water.css" | absURL -}} {{- $css := "css/style.css" | absURL -}}

    <link rel="stylesheet" href="{{$water}}" />
    <link rel="stylesheet" href="{{$css}}" />
    <script defer src="https://kit.fontawesome.com/68bd2bccda.js" integrity="sha384-CXEZAamSZR/L6hk9/cn1JGPL2YcNQhKxm81xXk3EGev+yCyrvF1yozTShV3rnrYE" crossorigin="anonymous"></script>

    {{ partial "meta" . }}

    {{ partial "prefetch" .}}

</head>