<title>Agustín Covarrubias - Student and open sourcerer</title>

{{ "<!-- Hi there! I'm glad you're seeing this source code. //-->" | safeHTML }}
{{ "<!-- Definitely check the repository at https://github.com/agucova/web-future //-->" | safeHTML }}

{{ if .IsHome}}
    <meta name="application-name" content="{{ .Title }} - {{ .Site.Params.headline }}" />
{{ else }}
<meta name="application-name" content="{{ .Title }}" />
{{ end }}
<meta name="description" content="👨‍💻 A student and open sourcerer that does a bit of everything, none specially well.">

<base href="{{ .Permalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />

<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
<meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />

<meta property="og:locale" content="{{ .Language.Lang }}">
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
