<center>
  <nav id="lower-nav">
    {{ if not .IsHome}}
    <div>
      <a class="container" title="Home" href="/">/</a>
    </div>
    {{ end }}
    <div>
      <a class="container" title="Now" href="/now">/now</a>
    </div>
    <div>
      <a class="container" title="Uses" href="/uses">/uses</a>
    </div>
    <div>
      <a class="container" title="PGP" href="/pgp/">/pgp</a>
    </div>
    <div>
      <a class="container" title="CV" href="https://www.linkedin.com/in/agucova/">/cv</a>
    </div>
  </nav>
</center>
